/* ----------- Body CSS ------------- */
body {
    padding: 0;
    margin: 0;
    background-color: #d1d5d9;
}

.container {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-row-gap: 5px;
    grid-template-areas: 
    "header"
    "project_1"
    "project_2"
    "project_3"
    "project_4"
    "project_5"
    "footer";
}

header {
    grid-area: header;
    text-align: center;
    padding: 5px;
    background-color: #1C3144;
}

.pacifico_font {
    font-family: 'Pacifico', cursive;
    color: #9E6D41;
    font-size: 2.5em;
    margin: 1px;
    padding: 1px;
}

.position, .fa-2x, .copyright {
    color: white;
}

.fa-2x {
    padding: 5px;
    margin: 0;
}

.copyright {
    font-size: 0.75em;
}

i:hover {
    color: #1C3144;
    transition-delay: 0.1s;
}

footer {
    grid-area: footer;
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #9E6D41;
    color: #1C3144;
    font-weight: bold;
    text-align: center;
}

.projects, header, footer {
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.project_1 {
    grid-area: project_1;
    background-color: black;
}

.project_2 {
    grid-area: project_2;
    background-color: red;
}

.project_3 {
    grid-area: project_3;
    background-color: pink;
}

.project_4 {
    grid-area: project_4;
}

.project_5 {
    grid-area: project_5;
}

.project_img {
    width: 100%;
    height: 100%;
}

.heading, .position, .icons {
    margin: 0px;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "project_1 header project_2"
        "project_1 header project_2"
        "project_3 project_4 project_5"
        "project_3 project_4 project_5"
        ". footer .";
    }

    header {
        margin: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }

    .icons {
        padding: 15px;
    }

    footer {
        margin: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        background-color: #9E6D41;
        color: #1C3144;
        font-weight: bold;
    }
}